:root {
  
    --deep-purple-color: #440F51;
  --white-purple-color: #EADEED;
  --dark-purple-color: #6C0287;
  --violet-color: #640AA3;
  --graphite-black-color: #1C1A1A;
  --gray-color: #CCCCCC;

  --background-color: #F2F0F9;
  --input-color: #F4F2FF;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-purple-color: #C6C2DE;
  --red-color: #D80101;
  --purple-color:#6D5BD0;
  --light-purple-color: #6E6893;

}